@use "../../Styles/variables.scss" as styles;

.about-section{ padding: 12px; }
.about-container { padding: 12px; }
.image-wrapper { display: inline; }

.about-image {
    width: 100%;
    height: auto;           // let the img decide its own height
    object-fit: contain;
    overflow: hidden;     // or just remove this line; default works too
}

.section-header{
    font-size: 2.5rem; 
    padding: 8px;
    color: white;
    background-color: styles.$color-base-darker-gray-two;
}

.section-paragraph{
    font-size: .8em;
    margin: 8px 0;
    color: white;
    white-space: pre-wrap; 
    tab-size: 2;
    &.accent-first-line::first-line {
        color: #ffcf33;        // highlight hue – change or override per paragraph
    } 
}

