@use "./Styles/fonts.scss";
@use "./Styles/reset.scss";
@use "./Styles/variables.scss";
@forward "./Styles/fonts.scss";
@forward "./Styles/reset.scss";
@forward "./Styles/variables.scss";

// index.scss
@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}


* {
    box-sizing: border-box;
}